.breadcrumbs {
	display: flex;
}

.breadcrumbsItem {
	@include flex-align($gap: $spacing-md);
	@include transition(color);
	margin-bottom: $spacing-lg;

	&:hover {
		color: $color-accent;
	}

	&.next {
		margin-left: auto;
	}

	&.back {
		margin-right: auto;
	}
}
