.breadcrumbs {
	display: flex;

	&.next {
		justify-content: flex-end;
	}

	&.back {
		justify-content: flex-start;
	}
}

.link {
	@include flex-align($gap: $spacing-md);
	@include transition(color);
	margin-bottom: $spacing-lg;

	&:hover {
		color: $color-accent;
	}
}
