.poster {
	object-fit: cover;
	border-radius: $radius-sm;
}

.imageSkeleton {
	@include skeleton-pulse;
	border-radius: $radius-sm;
	width: 355px;
	height: 500px;
}

.banner {
	object-fit: cover;
	border-radius: $radius-sm;
	width: 765px;
	height: 500px;
}

.frame {
	width: 430px;
	height: 420px;
	border-radius: $radius-sm;
}
