.title {
	@include text-clamp(2);
	@include transition(color);
	white-space: normal;
	font-weight: 600;
	color: $color-secondary;
	background-color: $color-primary;
	border-radius: $radius-lg;
	margin-bottom: $spacing-1xl;
	padding: $spacing-2sm $spacing-xl;
	align-self: center;
}
